@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  /* border: 2px solid red; */
}

/* Input css */
nav {
  max-width: 1100px;
  margin: auto;
}
.headerbody {
  max-width: 1090px;
  margin: auto;
}
.header-img {
  width: 60%;
  position: relative;
}
.header-img img {
  width: 100%;
}
.header-text h1 {
  font-family: "Space Mono", monospace;
}
.header-img-content {
  width: 25%;
  /* margin: auto; */
  position: absolute;
  bottom: 0px;
}
.header-img-content img {
  width: 30%;
}
.first-main {
  max-width: 950px;
  margin: auto;
  position: relative;
}
.main-1 {
  width: 100%;
}
.main-1 p {
  font-family: "Space Mono", monospace;
}
.main-1 h3 {
  width: 100%;
}
.first-main-images {
  width: 100%;
}
.first-main-images img {
  width: 20%;
}
.first-main-images-2 {
  width: 100%;
}
.first-main-images .img-1 {
  width: 100%;
}
.first-main-images .img-2 {
  width: 27%;
}

/* main 2 */
.main-2 {
  max-width: 1090px;
  margin: 120px auto;
}
.baby {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
